<% @entries.each do |e| %>
  <% unless e.user == current_user %>
    <h2 class="mx-5 my-5 border-bottom"><%= image_tag e.user.get_profile_image, size:'50x50', class: 'rounded-circle' %> <%= e.user.name %>さんとのトークルーム</h2>
  <% end %>
<% end %>
<!-- メッセージ表示 -->
<div class="chat mx-5">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <div class="chat-box p-3">
        <div class="chat-content">
          <p>
            <%= image_tag m.user.get_profile_image, size:'30x30', class: 'rounded-circle' %>
            <strong><%= m.user.name %></strong>
          </p>
          <p class="ml-5"><%= m.content %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- メッセージ入力 -->
<div class="post mt-3 ml-5">
  <%= form_with model: @message do |f| %>
    <%= f.text_field :content, autocomplete: :off %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <!--%= f.submit %>  #submitボタン実装しない-->
  <% end %>
</div>