<% @entries.each do |e| %>
  <% unless e.user == current_user %>
    <h1><%= e.user.name %>さんとのチャット</h1>
  <% end %>
<% end %>

<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-5">
      <div class="chat">
      <table>
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <div class="chat-box">
              <tr class="chat-content">
                <td><%= m.content %></td>
                <td></td>
                <td>by<%= m.user.name %></td>
              </tr>
            </div>
          <% end %>
        <% end %>
      </table>
      </div>
    </div>
  </div>
</div>

<div class="post mt-3">
  <%= form_with model: @message do |f| %>
    <%= f.text_field :content, autocomplete: :off %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <!--%= f.submit %>  #submitボタン実装しない-->
  <% end %>
</div>